body {
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Poppins", sans-serif;
}

.flexible-container {
  display: flex;
  margin-bottom: 30px;
}

.half-width {
  width: 50%;
  padding: 5%;
  padding-left: 5%;
  padding-top: 5%;
}

.half-width img {
  width: 100%;
  margin-top: 0px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}
.text-color {
  color: #ffad5a;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

p {
  font-size: 16px;
}

.focused {
  padding-left: 0;
  border-radius: 5px;
  border-left: 5px solid dodgerblue;
  height: ;
}
.top-text {
  line-height: 1;
  margin-left: 5px;
  font-family: "Yeseva One", cursive;
}

.button-link {
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  background-color: dodgerblue;
}
.flash-header {
  font-family: "Yeseva One", cursive;
  text-align: center;
  font-size: 50px;
}
.misson {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
}
.my-misson-section {
  margin-bottom: 50px;
}
.misson-element {
  width: 80%;
  height: 350px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 20px 10px;
  border-radius: 10px;
}

.my-misson-section h2 {
  text-align: center;
  font-size: 50px;
}

.misson-element h3 {
  font-size: 25px;
}

.misson-element img {
  width: 50%;
  height: 40%;
}

#misson {
  background: #edf5f6;
}

#visson {
  background: #ffeeee;
}

#goals {
  background: #fff4d6;
}
.develop-section {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
}
.global-section {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 15%;
}
.online-learning img {
  border-radius: 20px;
  width: 90%;
}
footer {
  background-color: black;
  color: white;
  padding: 15px 30px;
  width: 100%;
  text-align: center;
}
.footer-text {
  font-family: "Lobster", cursive;
}
.red-color {
  color: red;
}
